 .footer {
  border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background-color: var(--mojo-subtle-bg);
  padding-block: var(--mantine-spacing-md);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
}
